@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Roboto&family=Play&display=swap');
body{
    background: url("bg.jpg");
    background-size: cover;
    font-family: sans-serif;
    font-family: 'Play', cursive;
}
.topNav{
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    height: 60px;
}
.logo{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}
.items{
    font-size: 20px;
}
.dropdown-menu{
    border: none;
}
.nav-item:hover .dropdown-menu{
    display: block;
}
.head1{
    height: 400px;
    margin: 0%;
    padding: 0%;
    background-image: url("header.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.jumbotron{
    background: none;
    padding: 0%;
    padding-top: 60px;
}
.head2 .jumbotron{
    padding: 20px;
    border-left:3px solid rgb(255, 255, 255);
    border-radius: 0%;
    background: rgba(24, 24, 24, 0.76);
}
.head3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
    width: 630px;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.747)) , url("img1.jpg");
    background-position: center;
    background-size: cover;
}
.solid{
    border-top: 2px solid #ffffff;
}
.dumbTXT{  
    font-family: 'Potta One', cursive;
}